---
import Layout from "../layouts/Layout.astro";
import BLEHeader from "../components/BLEHeader.astro";
import Alarm from "../components/Alarm.astro";

const title = "MKR IoT Alarma Musical";
---

<Layout title={title}>
  <div
    class="flex flex-col items-center container mx-auto max-w-3xl py-6"
    x-data="bleApp()"
    x-init="init()"
  >
    <h1 class="text-2xl font-semibold mb-4">
      {title}
    </h1>

    <div class="flex flex-col gap-2 px-1 md:px-0 ">
      <BLEHeader />
      <Alarm />
    </div>
  </div>
</Layout>

<script>
  import { bleApp } from "../controllers/mkriot";
  // Ensure Alpine can see it
  window.bleApp = bleApp;
</script>
