---
import Layout from "../layouts/Layout.astro";
import BLEHeader from "../components/BLEHeader.astro";
import SensorDashboard from "../components/SensorDashboard.astro";
import ControlPanel from "../components/ControlPanel.astro";
import AdvancedSensors from "../components/AdvancedSensors.astro";

const title = "Central BLE - MKR IoT Carrier";
---

<Layout title={title}>
  <div
    class="flex flex-col items-center container mx-auto max-w-3xl py-6"
    x-data="bleApp()"
    x-init="init()"
  >
    <h1 class="text-2xl font-semibold mb-4">
      {title}
    </h1>

    <div class="flex flex-col gap-2">
      <BLEHeader />
      <SensorDashboard />
      <ControlPanel />
      <AdvancedSensors />
    </div>
  </div>
</Layout>

<script>
  import { bleApp } from "../controllers/mkriot";
  // Ensure Alpine can see it
  window.bleApp = bleApp;
</script>
